@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

body {
    background-color: #0B3D77;
    font-family: "Quicksand", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    color: white;
    font-family: "Trade Winds", "Caesar Dressing";
    font-size: 2em;
    margin-top: 10px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}

nav a {
    text-align: center;
    background-color: white;
    color:#0B3D77;
    text-decoration: none;
    padding: 35px; 
}
nav a:hover {
    background-color: #A1A32C;
}

header {
    background-color: white;
}
#hero-img {
    width: 100%;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
h4 {
    color: red;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

#background {
    height: 725px;
    background-color: #0B3D77;
}

.book, .join {
    background-color: #008667;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #A1A32C;
}

.msg {
    background-color: #008667;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: white;
    font-family: "Trade Winds", "Caesar Dressing";
}
.msg p {
    color: white;
    font-size: .8em; 
    padding-bottom: 15px;
}

footer {
    background-color: #0B3D77;
    color: rgba(255, 255, 255, 0.796);
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer a {
    text-decoration: none;
}
footer a:hover {
    color: #A1A32C; 
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.card-img {
    border: 10px solid black;
}