/* Add your CSS here to style your valentines day page */
@import url('https://fonts.googleapis.com/css2 family=Ballet:opsz@16..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700;800&display=swap');

body {
    margin: 0;
    height: 100%;
    font-family: 'Life Savers', Helvetica;
    background-color: #4C056C;
    border: 20px solid #FF86C8;
    padding: 30px;
    color: white;
}

img {
    width: 75%;
    border: 5px solid white;
    display: block;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Ballet', 'Grey Qo';
    text-align: center;
    color: #FF86C8;
}
h1 {
    font-size: 4em;
    margin-top: 15px;
    margin-bottom: 10px;
}
h2 {
    font-size: 3em;
    padding-bottom: 10px;
    margin: 0;
}

p {
    margin-top: 0;
}

li {
    display: inline;
    padding: 5%;
    text-decoration: underline;
}
ul {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.5em;
}

footer {
    color: #D0C7C7;
    text-align: right;
    font-size: 13px;
}
#text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    margin: 50px auto;
    gap: 50px;
}