/* ~~~~~~~~~~~~~~~~~~ body ~~~~~~~~~~~~~~~~~~ */
body {
    background-color: rgb(34, 5, 62);
    color: white;
    border: solid rgb(114, 10, 114) 10px;
    padding: 20px;
}

/* ~~~~~~~~~~~~~~~~~~ headings ~~~~~~~~~~~~~~~~~~ */
h2 {
 text-align: center;
 color: yellow;
 text-decoration: underline;
}

/* ~~~~~~~~~~~~~~~~~~ paragraph ~~~~~~~~~~~~~~~~~~ */
p {
    color: rgb(0, 242, 255);
}

/* ~~~~~~~~~~~~~~~~~~ section ~~~~~~~~~~~~~~~~~~ */
#two, #three {
    padding-top: 70px;
}