@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap'); /*Rock Salt*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap'); /*Playfair Display*/

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap'); /*Covered By Your Grace*/

@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap'); /*National Park*/

